body{
    background-color: lightblue;
    color: navy;  

    }
   #camera{
       width: 350px;
       height: 300px;
       border: 2px dashed black;
   } 
   .name_of_objects,#results_object_name,#result_object_accuracy{
       color: Black;
   }